<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <h1>Bem vindo a Dato, <%= @user.name %></h1>
    <p>
      Você foi convidado para participar da competição <b><%= @competicao.name %></b>.
      Se você já é um usuário, acesse sua conta com seu e-mail <%= @user.email %> e participe :)<br>
      Se ainda não é um usuário, seu cadastro foi efetivado automaticamente. Para acessar sua conta primeiro
      altere sua senha acessando o link <%= @url_new_password %> e informe seu e-mail <%= @user.email %>, em seguida você receberá um e-mail
      com as instruções para alteração de senha :)
    </p>
    <p>
      Para entrar no site, basta acessar este link: <%= @url %>.
    </p>
    <p>Obrigado por se juntar a nós e tenha um ótimo dia!</p>
  </body>
</html>
