<%= instructions_error(invitation) %>

<%= nested_form_for(invitation) do |f| %>

  <%= f.label 'Nome', class: 'label' %>
  <p class="control">
    <%= f.text_field :name, class: 'input', type: 'text' %>
  </p> 
  
  <%= f.label 'Descrição', class: 'label' %>
  <p class="control">
    <%= f.text_field :description, class: 'input', type: 'text' %>
  </p> 

  <%= f.label 'Competição', class: 'label' %>
  <p class="control">
    <%= f.select :competition_id, options_for_select(Competition.competition_name_and_key_specific, invitation.competition.id), {}, { class: 'input chosen' } %>
  </p>

  <%= f.label 'Usuários', class: 'label' %>
  <p class="control">
    <%= f.collection_select(:user_ids, @users, :id, :name, { }, { multiple: true, class: 'input chosen' }) %>
  </p>

  <%= f.label 'E-mails', class: 'label' %>
  <label>* Caso precise adicionar mais e-mails, não será possível na edição, é necessário criar outro convite.</label>
  <p class="control">
    <%= f.text_area :emails, class: 'textarea', type: 'text',
      placeholder: 'Informe aqui o(s) e-mail(s) que você deseja ter acesso ao sistema e a competição. Obs.: Separe os e-mails por ponto e vírgula (;).' %>
  </p> 
  <hr>

  <p class="control">
    <%= f.submit class: 'button is-success' %>
  </p>

<% end %>
